@import url("https://fonts.googleapis.com/css2?family=Poller+One&display=swap");


*
{
    margin: 0;
}
body
{
    font-family: 'Poller One', cursive;
    background-image: url("styles/images/sky.jpg");
    color: #eedb00;
    background-attachment: fixed;
}
header
{
    background-color: rgba(60, 69, 67, 0.6);
}

.common-btn
{
    cursor: pointer;
    background-color: rgba(204, 3, 35, 0.5);
    box-shadow: rgba(60, 69, 67, 0.6) 5px 5px;
}



.float-start img
{

    box-shadow: rgba(60, 69, 67, 0.6) 10px 10px;
}

#left
{
    border-bottom-left-radius: 15px;
}
#right
{
    border-bottom-right-radius: 15px;
}

footer
{
    background-color: rgba(60, 69, 67, 0.6);
}
.email
{
    font-size: 1.2em;
    color: black;
    font-variant: small-caps;
}










